.cloth-info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* margin-left: 220px; */
    width:250px;
    border: 2px solid lightgray;
}

.heart-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.heart-icon, .image, .para-info, .price, .fivestar-num, .btn-addtocart{
    margin:10px 5px 5px 10px;
}
/* svg{
    color: green;
  } */

img{
    width:180px;
    height: 220px;
}
.para-info:hover{
    cursor: pointer;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image:hover{
    cursor:pointer;
}
.add-to-cart{
    background-color: blue;
    width:220px;
    color:whitesmoke;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    box-shadow: 3px 3px lightblue;
    height:30px;
}
.btn-addtocart{
    display: flex;
    align-items: center;
    justify-content: center;
}